<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Age </th>
        <th> Position </th>
        <th> EU country </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.empty}">
        <td colspan="2"> No Students registered </td>
    </tr>
    <tr th:each="student : ${list}">
        <td><span th:text="${student.name}"> Title </span></td>
        <td><span th:text="${student.age}"> Author </span></td>
        <td><span th:text="${student.position}"> Position </span></td>
        <td><span th:text="${student.eu}"> EU </span></td>
    </tr>
    </tbody>
</table>